@charset "UTF-8";

@import "/node_modules/swiper/swiper-bundle.css";

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("./fonts/OpenSans-Bold.woff") format("woff"), url("./fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("./fonts/OpenSans-SemiBold.woff") format("woff"), url("./fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("./fonts/OpenSans-Regular.woff") format("woff"), url("./fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: #383838;
  background-color: #FFFFFF;
}

.flex,
.job__contacts-social > a,
.job__contacts-item,
.team__master-item,
.team__item-img,
.stat__item,
.features .tns-nav,
.client__item,
.step__item-count,
.step__item,
.service__item-img,
.service__item,
.input__checkbox + label:before,
.input__checkbox + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col,
.job__contacts-item,
.stat__item,
.service__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.just-center,
.job__contacts-social > a,
.team__item-img,
.features .tns-nav,
.client__item,
.step__item-count,
.input__checkbox + label:before {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.just-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center,
.job__contacts-social > a,
.team__master-item,
.team__item-img,
.features .tns-nav,
.client__item,
.step__item-count,
.step__item,
.service__item-img,
.input__checkbox + label:before,
.input__checkbox + label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-start,
.job__contacts-item,
.stat__item,
.service__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lock {
  overflow: hidden;
}

.w-100,
.job__form .input__wrap.input__wrap--w-100,
.input {
  width: 100%;
}

.h-100,
.main__banner-container {
  height: 100%;
}

.fw-sb,
.footer__nav-link,
.footer__title,
.job__contacts-item > a,
.job__form-title,
.team__master-title,
.team__item h4,
.stat__item-count,
.slider__item h3,
.service__item h3,
.title {
  font-weight: 600;
}

.transition,
.select2-container--default .select2-selection--single .select2-selection__arrow b,
.features .tns-nav button,
.client__item,
.nav__link:after,
.nav__link,
.input + label,
.input,
.btn {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 165px;
}

.btn {
  display: inline-block;
  border: 0;
  background: 0;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  position: relative;
  text-align: center;
}

.btn:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.btn-blue {
  padding: 16px 24px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#64B9FF), to(#5E95FF));
  background: -o-linear-gradient(left, #64B9FF 0%, #5E95FF 100%);
  background: linear-gradient(90deg, #64B9FF 0%, #5E95FF 100%);
}

.btn-blue:hover {
  background: -webkit-gradient(linear, left top, right top, from(#96D0FF), to(#89B1FF));
  background: -o-linear-gradient(left, #96D0FF 0%, #89B1FF 100%);
  background: linear-gradient(90deg, #96D0FF 0%, #89B1FF 100%);
}

.btn-blue:active {
  background: -webkit-gradient(linear, left top, right top, from(#5CAAEA), to(#5385E5));
  background: -o-linear-gradient(left, #5CAAEA 0%, #5385E5 100%);
  background: linear-gradient(90deg, #5CAAEA 0%, #5385E5 100%);
}

.btn-light {
  padding: 12px 39px;
  color: #5E95FF;
  border: 1px solid #B8B8B8;
}

.btn-light:hover {
  -webkit-box-shadow: 0 0 0 2px #B8B8B8;
          box-shadow: 0 0 0 2px #B8B8B8;
}

.btn-light:active {
  background-color: #B8B8B8;
  color: #FFFFFF;
}

.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}

.title {
  font-size: 36px;
  line-height: 1.1;
}

.block {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bg-gray {
  background-image: -o-linear-gradient(326.76deg, #F4F4F4 0%, #F0F0F0 100%);
  background-image: linear-gradient(123.24deg, #F4F4F4 0%, #F0F0F0 100%);
}

.input,
.textarea {
  border: 0;
  background: 0;
  border-bottom: 1px solid #BCBCBC;
  padding: 0;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 15px;
}

.input {
  height: 36px;
  padding-left: 8px;
}

.input:hover,
.input:focus {
  border-color: #5E95FF;
}

.input + label {
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.input__wrap {
  position: relative;
}

.input[required] + label:after {
  content: "*";
  display: inline-block;
  color: #D73A3A;
  margin-left: 4px;
}

.input__checkbox {
  width: 1px;
  height: 1px;
  z-index: -10;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__checkbox + label {
  cursor: pointer;
}

.input__checkbox + label:before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #383838;
  border-radius: 2px;
  margin-right: 8px;
  color: #5E95FF;
  font-size: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.input__checkbox:checked + label:before {
  content: "✔";
}

.textarea {
  resize: none;
}

.error {
  font-size: 12px;
  color: #D73A3A;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  display: none;
  padding-left: 8px;
}

.error.active {
  display: block;
}

.header {
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: -1;
}

.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 72px;
}

.header__tel {
  text-decoration: none;
  color: #5E95FF;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav__link {
  margin-right: 70px;
  text-decoration: none;
  color: #383838;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.nav__link:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  right: 0;
  height: 2px;
  background-color: #383838;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link:hover {
  color: #101010;
}

.nav__link:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}

.burger__button {
  display: none;
}

.main__banner {
  height: 600px;
  background: url("./img/header/bg-at.png"), -webkit-gradient(linear, left top, left bottom, from(#F5FBFF), to(rgba(255, 255, 255, 0))), #D2E6F1;
  background: url("./img/header/bg-at.png"), -o-linear-gradient(top, #F5FBFF 0%, rgba(255, 255, 255, 0) 100%), #D2E6F1;
  background: url("./img/header/bg-at.png"), linear-gradient(180deg, #F5FBFF 0%, rgba(255, 255, 255, 0) 100%), #D2E6F1;
  background-repeat: no-repeat;
  background-position: center;
}

.main__banner-container {
  padding-right: 0;
}

.main__text {
  padding-top: 80px;
  max-width: 570px;
}

.main__text .btn {
  margin-top: 120px;
}

.main__title {
  font-size: 44px;
  line-height: 1.2;
  text-transform: uppercase;
}

.main__subtitle {
  margin-top: 32px;
  max-width: 380px;
}

.service__list {
  margin-top: -48px;
  margin-right: -32px;
  padding-top: 40px;
}

.service__item {
  width: calc(33.333% - 32px);
  margin-right: 32px;
  margin-top: 48px;
}

.service__item-img {
  border-radius: 3px;
}

.service__item h3 {
  font-size: 24px;
  line-height: 1.2;
  margin-top: 32px;
}

.service__item p {
  margin-top: 16px;
  padding-bottom: 24px;
}

.service__item .btn {
  margin-top: auto;
  margin-left: 2px;
  margin-bottom: 5px;
}

.step__subtitle {
  margin-top: 32px;
}

.step__list {
  padding-top: 32px;
  margin-top: -24px;
  margin-right: -32px;
}

.step__list-part {
  width: calc(33.333% - 32px);
  margin-right: 32px;
}

.step__item {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(34.94%, #FFFFFF), to(rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(left, #FFFFFF 34.94%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(90deg, #FFFFFF 34.94%, rgba(255, 255, 255, 0) 100%);
  border-radius: 154px;
  padding: 8px;
  margin-top: 24px;
}

.step__item-count {
  color: #F0F0F0;
  background-image: -webkit-gradient(linear, left top, right top, from(#64B9FF), to(#5E95FF));
  background-image: -o-linear-gradient(left, #64B9FF 0%, #5E95FF 100%);
  background-image: linear-gradient(90deg, #64B9FF 0%, #5E95FF 100%);
  border-radius: 50%;
  width: 41px;
  height: 41px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 16px;
  margin-bottom: auto;
  line-height: 1;
}

.client__list {
  padding-top: 40px;
  margin-top: -16px;
  margin-right: -24px;
}

.client__item {
  width: calc(100% / 6 - 24px);
  margin-right: 24px;
  margin-top: 16px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  height: 114px;
  opacity: 0.6;
}

.client__item:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.client__item img {
  max-height: 100%;
}

.features {
  padding-top: 0;
  padding-bottom: 20px;
}

.features .title {
  padding-bottom: 40px;
}

.features .tns-nav {
  margin-top: -40px;
  z-index: 1;
  position: relative;
}

.features .tns-nav button {
  width: 8px;
  height: 8px;
  border: 0;
  background: 0;
  padding: 0;
  background-color: #B8B8B8;
  margin: 0 6px;
  border-radius: 50%;
}

.features .tns-nav button.tns-nav-active {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#64B9FF), to(#5E95FF));
  background-image: -o-linear-gradient(left, #64B9FF 0%, #5E95FF 100%);
  background-image: linear-gradient(90deg, #64B9FF 0%, #5E95FF 100%);
}

.slider__item {
  background-image: -o-linear-gradient(326.76deg, #F4F4F4 0%, #F0F0F0 100%);
  background-image: linear-gradient(123.24deg, #F4F4F4 0%, #F0F0F0 100%);
  border-radius: 3px;
  padding: 32px;
  height: 300px;
}

.slider__item h3 {
  font-size: 24px;
}

.slider__item ul {
  padding: 0;
  margin: 0;
  margin-top: 24px;
}

.slider__item ul li {
  list-style-position: inside;
  margin-top: 8px;
}

.stat__item {
  max-width: 160px;
}

.stat__item-count {
  font-size: 72px;
  color: #5E95FF;
}

.team__subtitle {
  margin-top: 32px;
}

.team__list {
  margin-top: 40px;
}

.team__item {
  width: calc(50% - 16px);
}

.team__item h4 {
  margin-top: 12px;
}

.team__item-bio {
  margin-top: 12px;
  color: #B8B8B8;
}

.team__item-citate {
  margin-left: 32px;
  max-width: 255px;
}

.team__master {
  margin-top: 40px;
}

.team__master-title {
  font-size: 24px;
}

.team__master-list {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  margin-top: -24px;
  margin-right: -32px;
}

.team__master-item {
  padding: 8px 32px 8px 12px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(56.76%, #FFFFFF), to(rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(left, #FFFFFF 56.76%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(90deg, #FFFFFF 56.76%, rgba(255, 255, 255, 0) 100%);
  border-radius: 58px;
  list-style-type: none;
  width: calc(20% - 32px);
  margin-top: 24px;
  margin-right: 32px;
}

.team__master-item:before {
  content: "";
  width: 6px;
  height: 6px;
  background-image: -webkit-gradient(linear, left top, right top, from(#64B9FF), to(#5E95FF));
  background-image: -o-linear-gradient(left, #64B9FF 0%, #5E95FF 100%);
  background-image: linear-gradient(90deg, #64B9FF 0%, #5E95FF 100%);
  -webkit-box-shadow: 1px 1px 4px rgba(94, 151, 255, 0.35);
          box-shadow: 1px 1px 4px rgba(94, 151, 255, 0.35);
  border-radius: 50%;
  margin-right: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.select2-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline;
  list-style: none;
  padding: 0;
}

.select2-container .select2-selection--multiple .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.select2-container .select2-search--inline .select2-search__field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  margin-left: 5px;
  padding: 0;
  max-width: 100%;
  resize: none;
  height: 18px;
  vertical-align: bottom;
  font-family: sans-serif;
  overflow: hidden;
  word-break: keep-all;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-results__option--selectable {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px;
  padding-right: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  padding-bottom: 5px;
  padding-right: 5px;
  position: relative;
}

.select2-container--default .select2-selection--multiple.select2-selection--clearable {
  padding-right: 25px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
  position: absolute;
  right: 0;
  padding: 1px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
  padding-left: 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-right: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #999;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
  position: absolute;
  left: 0;
  top: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
  background-color: #f1f1f1;
  color: #333;
  outline: none;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  border-left: 1px solid #aaa;
  border-right: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__clear {
  float: left;
  margin-left: 10px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--group {
  padding: 0;
}

.select2-container--default .select2-results__option--disabled {
  color: #999;
}

.select2-container--default .select2-results__option--selected {
  background-color: #ddd;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), to(#eeeeee));
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFFFF", endColorstr="#FFEEEEEE", GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(#cccccc));
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFEEEEEE", endColorstr="#FFCCCCCC", GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, #eeeeee));
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFFFF", endColorstr="#FFEEEEEE", GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(white));
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFEEEEEE", endColorstr="#FFFFFFFF", GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
  padding-bottom: 5px;
  padding-right: 5px;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #888;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
  outline: none;
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px;
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option--group {
  padding: 0;
}

.select2-container--classic .select2-results__option--disabled {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #3875d7;
  color: white;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

.select2 {
  width: calc(50% - 16px) !important;
}

.select2-container--default.select2-container--focus .select2-selection--single {
  border-bottom: 1px solid #5E95FF;
}

.select2-container--default .select2-selection--single {
  height: 36px;
  background: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #BCBCBC;
  border-radius: 1px;
}

.select2-container--default .select2-selection--single:hover {
  border-bottom: 1px solid #5E95FF;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 2;
  height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  top: -2px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #BCBCBC;
  border-width: 0 2px 2px 0;
  padding: 2px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #383838;
}

.select2-container--default.select2-container--open .select2-selection--single {
  background-color: #FFFFFF;
  border: 1px solid #ccc;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: #BCBCBC;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}

.select2-container--default.select2-container--open .select2-dropdown--below {
  border-radius: 0;
}

.select2-container--default .select2-results > .select2-results__options {
  background-color: #FFFFFF;
}

.select2-dropdown {
  border-color: #CCCCCC;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.job__shadow {
  background: -o-linear-gradient(326.76deg, #F4F4F4 0%, #F0F0F0 100%);
  background: linear-gradient(123.24deg, #F4F4F4 0%, #F0F0F0 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-top: 40px;
}

.job__form {
  width: 74%;
  padding: 40px 104px 40px 65px;
}

.job__form-title {
  color: #5E95FF;
  max-width: 410px;
  padding-bottom: 40px;
}

.job__form-control {
  margin-top: 56px;
}

.job__form-control .btn {
  margin-right: 32px;
}

.job__form .input__wrap {
  width: calc(50% - 16px);
  margin-top: 32px;
}

.job__form .input__wrap--mt0 {
  margin-top: 0;
}

.job__form .input__wrap.focused .input + label {
  top: -2px;
  font-size: 12px;
  color: #5E95FF;
}

.job__contacts {
  width: 26%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 26px;
  color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, right top, from(#64B9FF), to(#5E95FF));
  background-image: -o-linear-gradient(left, #64B9FF 0%, #5E95FF 100%);
  background-image: linear-gradient(90deg, #64B9FF 0%, #5E95FF 100%);
  border-radius: 0px 3px 3px 0px;
}

.job__contacts-item {
  margin-top: 32px;
}

.job__contacts-item > a {
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 4px;
}

.job__contacts-social {
  margin-top: 40px;
}

.job__contacts-social > a {
  text-decoration: none;
  margin-right: 24px;
}

.job__contacts-social > a:last-child {
  margin-right: 0;
}

.swiper-pagination-bullet-active {
  background-image: -webkit-gradient(linear, right top, left top, from(#64B9FF), to(#5E95FF));
  background-image: -o-linear-gradient(right, #64B9FF 0%, #5E95FF 100%);
  background-image: linear-gradient(-90deg, #64B9FF 0%, #5E95FF 100%);
  width: 10px;
  height: 10px;
  vertical-align: middle;
}

.swiper-container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper .swiper-pagination-custom,
.swiper .swiper-pagination-fraction {
  bottom: 0;
}

.swiper-slide img {
  display: block;
  margin: 0 auto;
}

.featuresSwiper.swiper-container.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 30px;
}

.serviceSwiper.swiper-container .swiper-slide > h3,
.serviceSwiper.swiper-container .swiper-slide > .btn {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.serviceSwiper.swiper-container .swiper-slide-active > h3,
.serviceSwiper.swiper-container .swiper-slide-active > .btn {
  opacity: 1;
}

.footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#64B9FF), to(#5E95FF));
  background-image: -o-linear-gradient(left, #64B9FF 0%, #5E95FF 100%);
  background-image: linear-gradient(90deg, #64B9FF 0%, #5E95FF 100%);
  padding-top: 32px;
  padding-bottom: 32px;
  color: #FFFFFF;
}

.footer__title {
  display: none;
  font-size: 15px;
  padding-bottom: 24px;
}

.footer__nav-link {
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 12px;
}

.footer__nav-link:first-child {
  margin-top: 0;
}

.footer .job__contacts-item {
  margin-top: 0;
}

.footer__contacts-tel.job__contacts-item {
  padding-bottom: 32px;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 96px;
    padding-right: 96px;
  }

  .nav__link {
    margin-right: 48px;
  }

  .main__banner-container {
    padding-right: 0;
  }

  .main__text {
    max-width: 440px;
  }

  .step__list {
    margin-right: 0;
  }

  .step__list-part {
    width: 100%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .step__item {
    margin-right: 16px;
    width: calc(50% - 16px);
  }

  .team__master-item {
    width: calc(25% - 32px);
  }

  .job__form {
    padding-right: 65px;
  }

  .job__form-control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .job__form-control .btn {
    margin-right: 0;
    margin-top: 32px;
  }

  .footer__logo {
    max-width: 250px;
  }
}

@media (max-width: 991px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }

  .header {
    height: 65px;
  }

  .header__logo {
    width: 130px;
    margin-right: 24px;
  }

  .nav__link {
    margin-right: 24px;
  }

  .main__banner {
    height: 560px;
  }

  .main__banner-container {
    padding-right: 0;
  }

  .main__banner-img {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .main__banner-img > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: none;
  }

  .main__text {
    padding-top: 40px;
  }

  .main__text .btn {
    margin-top: 60px;
  }

  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .team__item {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .team__item:not(:first-child) {
    margin-top: 32px;
  }

  .team__item-citate {
    max-width: 50%;
  }

  .team__master-item {
    width: calc(33.333% - 32px);
  }

  .job__shadow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .job__form {
    width: 100%;
  }

  .job__contacts {
    width: 100%;
    padding-bottom: 40px;
  }

  .footer__logo {
    max-width: 170px;
  }

  .footer .job__contacts-item {
    max-width: 160px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .btn-light {
    border: 0;
    padding: 0;
  }

  .btn-light:after {
    content: "";
    width: 5px;
    height: 8px;
    background-image: url("./img/icon/arrow-right.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 6px;
    vertical-align: middle;
  }

  .title {
    font-size: 24px;
  }

  .block {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .input,
  .textarea {
    font-size: 14px;
  }

  .input {
    height: 32px;
  }

  .error {
    margin-top: 0;
  }

  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #FFFFFF;
    height: auto;
  }

  .header__nav .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .burger__button.isActive + .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    top: 100%;
  }

  .burger__button {
    border: 0;
    background: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 30px;
    height: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .burger__button span {
    background-image: -webkit-gradient(linear, left top, right top, from(#64B9FF), to(#5E95FF));
    background-image: -o-linear-gradient(left, #64B9FF 0%, #5E95FF 100%);
    background-image: linear-gradient(90deg, #64B9FF 0%, #5E95FF 100%);
    border-radius: 1px;
    width: 26px;
    height: 2px;
    display: block;
    position: relative;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }

  .burger__button span:before,
  .burger__button span:after {
    content: "";
    height: 2px;
    background-image: -webkit-gradient(linear, left top, right top, from(#64B9FF), to(#5E95FF));
    background-image: -o-linear-gradient(left, #64B9FF 0%, #5E95FF 100%);
    background-image: linear-gradient(90deg, #64B9FF 0%, #5E95FF 100%);
    border-radius: 1px;
    display: block;
    position: absolute;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .burger__button span:before {
    width: 22px;
    top: -5px;
    right: 0;
  }

  .burger__button span:after {
    width: 30px;
    bottom: -5px;
    right: 0;
  }

  .burger__button.isActive span {
    width: 0;
  }

  .burger__button.isActive span:before,
  .burger__button.isActive span:after {
    width: 26px;
    top: 50%;
  }

  .burger__button.isActive span:before {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }

  .burger__button.isActive span:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }

  .main__banner {
    height: 379px;
    background-size: contain;
    background-position: right;
  }

  .main__banner-img {
    display: none;
  }

  .main__title {
    font-size: 24px;
    text-transform: none;
  }

  .main__subtitle {
    max-width: none;
  }

  .service__item {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
  }

  .service__item h3 {
    margin-top: 16px;
    font-size: 17px;
  }

  .service__item p {
    display: none;
  }

  .service__item .btn {
    margin-top: 10px;
  }

  .step {
    background: #FFFFFF;
    padding-top: 0;
  }

  .step__list-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: -o-linear-gradient(326.76deg, #F4F4F4 0%, #F0F0F0 100%);
    background-image: linear-gradient(123.24deg, #F4F4F4 0%, #F0F0F0 100%);
    border-radius: 3px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 8px;
  }

  .step__item {
    margin-right: 0;
    width: 100%;
    margin-top: 16px;
  }

  .step__item-count {
    margin-right: 8px;
  }

  .client__item {
    width: calc(33.333% - 24px);
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 1;
  }

  .features {
    padding-top: 0;
  }

  .features .title {
    padding-bottom: 0;
  }

  .slider__item {
    background-image: -webkit-gradient(linear, left top, right top, from(#64B9FF), to(#5E95FF));
    background-image: -o-linear-gradient(left, #64B9FF 0%, #5E95FF 100%);
    background-image: linear-gradient(90deg, #64B9FF 0%, #5E95FF 100%);
    padding: 16px 16px 24px;
    height: auto;
    color: #FFFFFF;
  }

  .slider__item h3 {
    font-size: 15px;
  }

  .slider__item ul {
    margin-top: 16px;
  }

  .slider__item ul li {
    list-style-position: outside;
    margin-left: 16px;
  }

  .stat__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .stat__item {
    max-width: none;
    width: calc(50% - 22px);
  }

  .stat__item-count {
    font-size: 54px;
  }

  .team__list {
    display: none;
  }

  .team__master-list {
    padding-top: 16px;
    margin-top: -16px;
    margin-right: -16px;
  }

  .team__master-item {
    margin-top: 16px;
    margin-right: 16px;
    width: calc(50% - 16px);
    padding: 0;
    background: 0;
  }

  .team__master-item:before {
    margin-right: 8px;
  }

  .select2 {
    width: 100% !important;
    margin-top: 24px;
  }

  .job__shadow {
    background: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 20px;
  }

  .job__form {
    padding: 0;
  }

  .job__form-title {
    padding-bottom: 0;
  }

  .job__form-control {
    margin-top: 24px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .job__form-control .btn {
    margin-top: 24px;
  }

  .job__form .input__wrap {
    width: 100%;
    margin-top: 24px;
  }

  .job__form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .job__contacts {
    display: none;
  }

  .featuresSwiper.swiper-container.swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }

  .footer {
    padding-top: 20px;
  }

  .footer > .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__title {
    display: block;
  }

  .footer__logo {
    display: none;
  }

  .footer__nav {
    display: none;
  }

  .footer .job__contacts-item {
    max-width: none;
    width: 100%;
  }

  .footer__contacts {
    width: 100%;
  }

  .footer__contacts-tel.job__contacts-item {
    padding-bottom: 20px;
  }

  .footer__contacts-mail.job__contacts-item {
    margin-top: 20px;
  }
}