.footer {
	background-image: linear-gradient(90deg, #64B9FF 0%, #5E95FF 100%);
	padding-top: 32px;
	padding-bottom: 32px;
	color: #FFFFFF;

	&__nav {

		&-link {
			text-decoration: none;
			color: #FFFFFF;
			margin-top: 12px;

			&:first-child {
				margin-top: 0;
			}

			@extend .fw-sb;
		}
	}

	& .job__contacts-item {
		margin-top: 0;
	}

	&__contacts {

		&-tel.job__contacts-item {
			margin-top: 32px;
		}
	}

}