.nav {

	&__link {
		margin-right: 70px;
		text-decoration: none;
		color: #383838;
		padding-top: 8px;
		padding-bottom: 8px;
		position: relative;

		@extend .transition;

		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			right: 0;
			height: 2px;
			background-color: #383838;

			@extend .transition;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: #101010;

			&:after {
				left: 0;
				right: auto;
				width: 100%;
			}
		}

		@include for-tablet-l {
			margin-right: 48px;
		}
	}
}