.service {

	&__list {
		margin-top: -48px;
		margin-right: -32px;
		padding-top: 40px;
	}

	&__item {
		@extend .flex;
		@extend .flex-col;
		@extend .align-start;

		width: calc(33.333% - 32px);
		margin-right: 32px;
		margin-top: 48px;

		&-img {
			border-radius: 3px;

			@extend .flex;
			@extend .align-center;
		}

		& h3 {
			font-size: 24px;
			line-height: 1.2;
			margin-top: 32px;

			@extend .fw-sb;
		}

		& p {
			margin-top: 16px;
		}

		& .btn {
			margin-top: 24px;
			margin-left: 2px;
			margin-bottom: 5px;
		}
	}
}